.text-green-400 {
    
    font-weight: bold;;
    background-color:hsla(260, 23%, 95%, 0.911);
    font-weight: 900;
    font-size: x-large;
}

a.text-xl  {
    color: black;
    font-weight: 900;
    font-size: xx-large;
}

a.text-xl:hover {
    color: black;
    animation: 3s ease-in 1s infinite reverse ;
}

nav a {
    color:black;
    font-size: 25px;
    border-bottom: 5px;
}
.bg-green-500 {
    color:whitesmoke;
    background-color: #F59E0B;
    border-radius: 99px;
}
