h1:hover {
    color: orange;
    font-weight: bold;
    font-palette: dark;
    font-style: italic;
}
h1.font-medium:hover {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-delay: 250ms;
    transition: ease-in-out;
}

.p-4:hover {
     transition-timing-function: ease;

  /* Also the same as */
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}